body {
    background-color:#fbfbb7;
    font-family:Verdana,  Helvetica, sans-serif;
}

#container {
    background-color:white;
    padding:20px;
    margin:0 auto;
    width:900px;
    height:auto;
}

h4 {
    text-shadow: 2px 2px 8px #578d5b;
    font-weight:bold;
    font-size:36pt;
    height: 140px;
    width: 640px;
    margin:auto;
}

#header {
    background-color:white;
    color:black;
    margin:0 auto;
    width:650px;
    height:150px;
    float:left;
    text-align:center;    
}

#right_header {
    padding:10px;
    margin:0 auto;
    float:left;
    height:150px;
}

#menu {
    width:898px;
    height:32px;
}


#nav {
    width:898px;
    height:32px;
    font-size:10pt;
    float:left;
    margin:0 0 3em 0;
    padding:0;
    list-style:none;
    background-color:#578d5b;
}

#nav li {
    float:left;
}


#nav_login{
    float:right
}

#nav li a {
    display:block;
    padding:8px 15px;
    text-decoration:none;
    font-weight:bold;
    color:#fbfbb7;
    border-right: 1px solid #ccc;
}

#nav li a:hover {
    color:black;
    background-color:#fbfbb7;
}

#center_img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#admin_content {
    margin-top:10px;
    font-size:12pt;
    font-weight:bold;
    width:898px;
    min-height:400px;
}

#admin_materialNav {
    font-weight:normal;
    font-size:10pt;
    width:150px;
}

#admin_materialNav li {
    list-style: none;
    margin: 5px;
}

#admin_materialNav li a {
    text-decoration: none;
    color: black;
}

#admin_materialNav li a:hover {
    color:#578d5b;
    text-decoration:none;
    background-color:#fbfbb7;
}

#admin_materialNav {
    font-weight:normal;
    font-size:10pt;
    margin: 5px;
    padding: 5px;
    width:150px;
}

#admin_patronNav li {
    list-style: none;
    margin: 5px;
}

#admin_patronNav li a {
    text-decoration: none;
    color: black;
}

#admin_patronNav li a:hover {
        color: #578d5b;
        text-decoration: none;
        background-color:#fbfbb7;
}

#admin_patronNav {
    font-weight:normal;
    font-size:10pt;
    margin: 5px;
    padding: 5px;
    width:150px;
}

#admin_menu {
    padding: 10px;
    margin: 0 auto;
    width:160px;
    float:left;
}

#admin_main {
    background-color:white;
    width:698px;
    color:black;
    padding:10px;
    margin:0 auto;
    float:left;
    height:auto;
}

#footer {
    padding:10px;
    margin:0 auto;
    text-align:center;
    font-size:8pt;
    font-variant:small-caps;
}