body {
    background-color:#fbfbb7;
    font-family:Verdana,  Helvetica, sans-serif;
}

#container {
    background-color:white;
    padding:20px;
    margin:0 auto;
    width:80%;
    height:auto;
}

#header_container {
    background-color:white;
    color:black;
    margin:0 auto;
    width:100%;
    height:150px;
    float:left;
    text-align:center;
    font-size:10pt;  
}


.center_img {
    float:left;
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

#left_logo {
    margin:0 auto;
    width:20%;
    float:left;
    height:100%
}

#header_text{
    background-color:white;
    color:black;
    margin:0 auto;
    width:65%;
    height:140px;
    float:left;
}

h4 {
    text-shadow: 2px 2px 8px #578d5b;
    font-weight:bold;
    font-size:24pt;
    width:100%;
    height:60%;
    float:left;
    margin:auto;
    text-align:center;
}

#right_logo {
    margin:0 auto;
    float:left;
    width:15%;
    height:100%;
    }

#menu_container {
    width:100%;
    margin:0 auto;
    background-color:#578d5b;
    height:35px;
    clear:both;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#menu {
    margin:0 auto;
    float:left;
    display:block;
    width:40%;
    height:35px;
    background-color:#578d5b;
}

#search {
    width:49%;
    margin:0 auto;
    float:left;
    text-align:left;
    padding: 6px 6px !important;
    text-decoration:none;
    font-weight:bold;
    background-color:transparent;
    height:35px;
    color:#069;
}

#img_search {
    margin:0 auto;
    padding-left:10px;
    height:23px;
    vertical-align:middle;
}

#libraryMenu {
    font-size:10pt;
    width:100%;
    float:left;
    margin:0 0 3em 0;
    padding:0;
    list-style:none;
    background-color:#578d5b;
    height:auto;
}

#libraryMenu li {
    float:left;
}

#libraryMenu li a {
    display:block;
    padding:8px 15px !important;
    text-decoration:none;
    font-weight:bold;
    color:black;
    border-right: 1px solid #ccc;
}

#libraryMenu li a:hover {
    color:black;
    background-color:#fbfbb7;
}

.level1 li a {
    padding:200px;
}

.level2 li a {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.login_status {
    display:block;
    float:right;
    text-align:left;
    text-decoration:none;
    background-color:#578d5b;
    border-right:1px solid #ccc;
    height:32px;
    font-size:10pt;
}

.login_status a {
    display:block;
    padding:8px 15px;
    text-decoration:none;
    font-weight:bold;
    color:black;
    border-right: 1px solid #ccc;
    margin-left: 0px;
}

.login_status a:hover {
    color: black;
    background-color: #fbfbb7;
}

#main {
    width:100%;
    height:500px;
}

#adminHeader {
    width:898px;
    text-align:center;
    font-weight:bold;
    font-size:18pt;
    height: 32px;
    margin-top:0px;
}

#adminHomeButtons {
    width:898px;
    height:450px;
}

#adminHomeLeftButtons {
    float:left;
    height: 400px; 
    width:35%;
    list-style:none;
    text-align: center;
    margin-left:80px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
    margin-right: 0 auto;
}

#adminHomeRightButtons {
    float: left;
    text-align: center;
    height: 400px;
    list-style: none;
}    

#admin_content {
    margin-top:10px;
    font-size:12pt;
    font-weight:bold;
    width:898px;
    min-height:400px;
}

#admin_materialNav {
    font-weight:normal;
    font-size:10pt;
    width:150px;
}

#admin_materialNav li {
    list-style: none;
    margin: 5px;
}

#admin_materialNav li a {
    text-decoration: none;
    color: black;
}

#admin_materialNav li a:hover {
    color:#578d5b;
    text-decoration:none;
    background-color:#fbfbb7;
}

#admin_materialNav {
    font-weight:normal;
    font-size:10pt;
    margin: 5px;
    padding: 5px;
    width:150px;
}

#admin_patronNav li {
    list-style: none;
    margin: 5px;
}

#admin_patronNav li a {
    text-decoration: none;
    color: black;
}

#admin_patronNav li a:hover {
        color: #578d5b;
        text-decoration: none;
        background-color:#fbfbb7;
}

#admin_patronNav {
    font-weight:normal;
    font-size:10pt;
    margin: 5px;
    padding: 5px;
    width:150px;
}

#admin_menu {
    padding: 10px;
    margin: 0 auto;
    width:160px;
    float:left;
}

#admin_main {
    background-color:white;
    width:698px;
    color:black;
    padding:0px;
    margin:0 auto;
    float:left;
    height:auto;
    font-size:12pt;
    font-weight:normal;
}

#adminHome {
    background-color:white;
    width:898px;
    color:black;
    padding:0px;
    margin:0 auto;
    float:left;
    height:auto;
}

#main {
    clear:both;
}

#footer {
    width:898px;
    padding:10px;
    margin:0 auto;
    text-align:center;
    font-size:8pt;
    font-variant:small-caps;
}

.center{
    margin: 0 auto;
}

#adminHomeButtons li {
    margin-top:0 auto;
    margin-bottom:25px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.button-link {
    display:block;
    padding-bottom:40px;
    padding-top:40px;
    background: #578d5b;
    color:#fbfbb7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #578d5b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration:none;
}
.button-link:hover {
    background:#fbfbb7;
    color:black;
    border: solid 1px #578d5b;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #578d5b;
}

.button-width{
    width: 300px;
}