<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveVAlidationMode" value="None" />
  </appSettings>

    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />

      <roleManager enabled="true"></roleManager>
      <authentication mode="Forms">
        <forms loginUrl="~/Login/Login.aspx"></forms>
      </authentication>
      
    </system.web>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Passw0rd!1" />
    <add name="db_library" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Passw0rd!1"
      providerName="System.Data.SqlClient" />
    <add name="msci3300_g1ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=msci3300_g1;Persist Security Info=True;User ID=msci3300_g1;Password=Passw0rd!1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
